---
layout: default
title: Marrakesh 2019
permalink: /events/Marrakesh2019/
event_hide: false
event_date: 2019-12-01
event_date_string: December 1st-8th 2019 with December 3rd-5th as 'core days'
event_location: Marrakesh, Morocco
event_summary: Seven days of hacking including a three-day workshop to continue and grow the Reproducible Builds effort.
---

<h1>{{ page.title }}</h1>

<p>{{ page.event_date_string }}.</p>
<p>{{ page.event_summary }}</p>
<p>As a follow up to the four previous reproducible builds workshops in
  <a href="{{ "/events/athens2015/" | prepend: site.baseurl }}">Athens 2015</a>,
  <a href="{{ "/events/berlin2016/" | prepend: site.baseurl }}">Berlin 2016</a>,
  <a href="{{ "/events/berlin2017/" | prepend: site.baseurl }}">Berlin 2017</a> and
  <a href="{{ "/events/paris2018/" | prepend: site.baseurl }}">Paris 2018</a>,
  the reproducible builds folks will meet again in Marrakesh.
</p>

  <!--

    - registration deadline? yes. and also that we'll prefer previous years attendees but will keep 6-8 for first time attendees.
    - fix all sentences, 'soon'
  -->

<h2>Extended format</h2>
<p>
  Just like previous years, the heart of the workshop will be three days of moderated sessions with the goals outlined just below.
</p>
<p>
  The days before and after these three days will have no organized activity, besides a short "stand-up"-like meeting, where we'll hopefully be sitting on the sunny roof-top, trying to find some shadow and briefly sharing our activities in the last day. In other words, those are "free days" where you can be excellent.
</p>

<h2>Goals</h2>
<p>
  As in previous years, the exact content of the meeting will be shaped by the participants,
  these are our main goals as organizers:
</p>
<ul>
  <li>Update &amp; exchange about the status of reproducible builds in various projects.</li>
  <li>Improve collaboration both between and inside projects.</li>
  <li>Expand the scope and reach of reproducible builds to more projects.</li>
  <li>Work together and hack on solutions.</li>
  <li>Establish space for more strategic and long-term thinking than is possible in virtual channels.</li>
  <li>Brainstorm designs on tools enabling users to get the most benefits from reproducible builds.</li>
  <li>Discuss how reproducible builds will be usable and meaningful to users and developers alike.</li>
</ul>

<h2>Participants</h2>
<p>
  As of now there will be participants from coreboot, Debian, GNU Guix, Google, in-toto, MirageOS, NYU, OpenWrt, Tails, Tor Project and
 more&hellip; <br />
</p>

<!-- img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/groupphoto_rws4_paris_2018_small.png" | prepend: site.baseurl }}" alt="Reproducible Summit 4 in Paris 2018"/>

<h2>Reports</h2>

<p>
  <ul>A number of reports have been published:
    <li><a href="{{ "/events/paris2018/report/" | prepend: site.baseurl }}"> Meeting report by Aspiration</a> (HTML version)</li>
  </ul>
</p -->

<h2>Location</h2>

<p>
  <a href="https://en.wikipedia.org/wiki/Marrakesh">Marrakech</a>,
  <a href="https://en.wikipedia.org/wiki/Morocco">Morocco</a> at
  <em><a href="https://www.queenscollective.org/queenofthemedina">Priscilla, Queen of the Medina</a></em>
</p>

<p>
  <em>Priscilla, Queen of the Medina</em> is run by the Queens Collective and
  is located directly in the medina of Marrakesh. The venue has been used for
  several <a href="http://retreat.mirage.io/">Mirage OS development retreats</a> (see reports there).
  <br />
  Marrakesh is one of the historic cultural centers of the country and many of the
  <a href="https://en.wikipedia.org/wiki/Landmarks_of_Marrakesh">landmarks
  of Marrakesh</a> are in close walking distance.
  <br />
  The Queens Collective stands for gender equality, female empowerment and the
  engagement of vulnerable communities locally through cultural activism.
  Please do reach out to us if you have any concerns whatsoever about your
  safety whilst attending.
</p>

<p>
 As you probably can guess from the pictures it's a nice but simple venue, more like a youth hostel. 
 Though this is more the case for the main house (called 'Queens') with 18 beds, while the guesthouse next door (called 'Priscilla')
 has 12 beds and more privacy.
</p>

<p>
 There are <em>many</em> alternate accommodation options nearby and we'll make some suggestions here soon.
</p>

<p>
 To enable us to focus on our workshop and it's goals, freshly prepared local
 food is served for breakfast, lunch and dinner.
</p>

<p>
 There's wireless network at the venue, though it's not broadband, but an LTE connection (or two). As you might guess, this is also to enable us to focus on our workshop and it's goals, discussions and collaboration ;)
</p>

<h3>Photos of the venue</h3>

<p>
  <img src="/images/marrakesh2019/IMG_20190311_160651.jpg" width="640px" />
  Every venue is best described first with a cat picture.
  <br />
  <img src="/images/marrakesh2019/IMG_20190311_090022.jpg" width="640px" />
  The roof-top hacklab.
  <br />
  <img src="/images/marrakesh2019/IMG_20190311_090452.jpg" width="640px" />
  The bottom-level main room showing 2/3 of it.
  <br />
  <img src="/images/marrakesh2019/IMG_20190311_090605.jpg" width="640px" />
  View on the middle level.
  <br />
  <img src="/images/marrakesh2019/Mirage-hack-retreat-2018-29.jpg" width="480px" />
  Breakfast.
  <br />
  <img src="/images/marrakesh2019/IMG_20190312_203306.jpg" width="640px" />
  Food at a special event.
  <br />
  <img src="/images/marrakesh2019/IMG_20190311_163739.jpg" width="640px" />
  Two inhabitants and a relaxed visitor.
</p>

<h2>Schedule</h2>
<p>
 December 1st-8th 2019 with December 3rd-5th as 'core days'.
 <br/>
  <!-- he summit was held from 10 AM until 6 PM on December 11th to 13th 2018. until 5 PM on the 13th -->
 Besides that, the daily schedules will be roughly as described above in the <em>Extended format</em> and <em>Goals</em> sections, gently adjusted by the timings of the food breaks.
</p>

<h3>Other activities</h3>
<p>
  <em>To be organized</em> by the attendees while in Marrakesh. There are plenty of options and advice available, but other activities will need to be organized by those non-organizers (with the friendly help from the venue), who would love to participate in an excursion to the mountains or the sea or the city of Marrakesh.
</p>

<h2>Code of Conduct</h2>
<p>
  This event will be run under the guidance of the <a href="http://debconf.org/codeofconduct.shtml">DebConf Code of Conduct</a> and the <a href="https://www.debian.org/code_of_conduct">Debian Code of Conduct</a>.
</p>
<p>
  The organisers are committed to providing an event where all participants feel safe. Attendees are expected to treat all people with respect and help create a welcoming environment. If you notice behaviour that fails to meet this standard, please speak up (aloud or in private to the organisers).
</p>

<h3>Organized by</h3>

<a href="https://aspirationtech.org/"><img src="{{ "/images/logos/aspirationtech.jpg" | prepend: site.baseurl }}" alt="Aspiration" style="margin: 20px;"/></a>
&amp;
Holger, Vagrant, Chris and Mattia

<h2>Sponsors and costs</h2>

<p>
  We haven't really started this but we will definitely be looking for sponsors very soon!
</p>

<p>
  The costs per person staying for a week for accomodation, food and using the venue are 350€.
  We very much welcome attendees or their employers covering these costs. We do hope and plan to cover the costs for those who cannot. As said above, this is early work in progress.
</p>

<h2>Travel and getting there</h2>

<h3>Visas</h3>

According to the <a href="https://en.wikipedia.org/wiki/Visa_policy_of_Morocco">Wikipedia
article on the Visa policy of Morocco</a>, most of our attendees will not need a visa for
entering Morocco but some unfortunately do.

<h3>Travel to Marrakesh and the venue</h3>

<p>
  The nearest airport is <a href="https://en.wikipedia.org/wiki/Marrakesh_Menara_Airport">Marrakesh
  Menara Airport (RAK)</a>.  There is also Marrakesh Railway Station (train service from
 and to Tangier, reachable from Spain by ferry).
</p>
<p>
From the airport or railway station, take a taxi to <strong>Jemaa el-Fnaa</strong>
(the *<a href="https://en.wikipedia.org/wiki/Jemaa_el-Fnaa">big square</a>* in the
city centre). There's also a much cheaper bus leaving 42m in sight of the taxis from the parking lot.
</p>
<p>
  If you have been there before you should follow the <a href="https://raw.githubusercontent.com/mirage/marrakech2017/master/data/map.jpg">map</a>, the address is <strong>27 Derb el Ferrane Azbezt</strong>. A <a href="https://www.youtube.com/watch?v=zgzwmyxlKBE">video</a> contains detailed descriptions.
</p>
<p>
  If you haven't been to the venue before, we recommend (and we are happy to) pick you up at Jemaa el-Fnaa (phone number will be provided after registration). The path is easy and safe but probably just a bit overwhelming upon first arrival.
</p>

<h2>Registration</h2>
<p>
  Registration for attending this event is now possible by sending a short email to <a href="mailto:holger@layer-acht.org">holger@layer-acht.org</a>, expressing that you want to attend and possible shortly stating your involvement or other reasons why.
</p>


